.container{
    width:500px;
    border:1px solid white;
    background-color:#66ccff;
    padding-top: 50px;
    padding-bottom: 50px;
}


input{
    width: 250px;
    height: 28px;

}

button{
    background-color:#0066ff;
    width:150px;
    color:white;
    margin-left: 10px;
    height: 40px;
    transition: all .3s;
    border-radius: 5px;
    cursor: pointer;
   
}

button:hover{
    background-color:#003399 ;
    border-bottom-left-radius: 20px;
    border-left:3px solid red  ;
    border-bottom:3px solid red  ;
    border-top:3px solid red  ;
    border-right:3px solid yellow;
}


ul {
    list-style: none;

    width: 250px;
    background-color:#66ccff;
}



li {
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2px;
    font-size:18px;
    margin-bottom: 15px;
    cursor: pointer;
}

li:hover {
    background-color: pink;
}

